---
import type { SpookydexDataInterface } from "../data/SpookydexData";
import MissingMobCard from "./MissingMobCard.astro";
import ObtainedMobCard from "./ObtainedMobCard.astro";

interface Props {
  mob: SpookydexDataInterface;
}

const { mob } = Astro.props;
---

<div
  class="overflow-hidden rounded-lg bg-[#0a1224] transition-transform hover:scale-105 hover:shadow-lg hover:shadow-orange-500/20"
  data-mob-card
  data-mob-type={mob.mobType}
  data-variant={mob.variant}
  data-version={mob.verion}
  data-obtained={mob.obtained.toString()}
  data-used-farm={mob.usedFarm?.toString() || "false"}
  data-name={mob.name}
  data-probability={mob.probability.toString()}
  data-when={mob.when?.toString() || "0"}
>
  {mob.obtained ? <ObtainedMobCard mob={mob} /> : <MissingMobCard mob={mob} />}
</div>
